body {
    background: rgb(255, 255, 255);
}


.index {
    margin: 5px;
}

.index img {
    max-width: 100%;
    display: block;
    height: auto;
    border: 3px solid;
    border-color: rgb(230, 240, 255);
}

@media (min-width:660px) {
    .index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-right: 5px;
    }
}

.large {
    grid-column: 1/3;
}

/* survol */
.div-image {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: grid;
}

.image-zoom {
    transition: 0.4s;
}

.image-zoom:hover {
    transform: scale(0.95);
    opacity: 0.8;

}

/*PROJETS*/

/* Header */

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 48px;
    padding: 20px;
    margin-bottom: 20px;
}

.header a {
    text-decoration: none;
    color: black;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 23px;
    right: 70px;
}

.portfolio {
    text-align: left;
}

.à-propos {
    text-align: right;
}

.header a:hover {
    margin-left: 24px;
    text-decoration: underline;

}

.header-titre {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    left: 70px;
}

.header-sous-titre {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    left: 70px;
    color:  rgb(195, 219, 255);
}


/* Body */

.nom-projet {
    display: none;
}

@media (min-width:760px) {
    .nom-projet {
        display: block;
        font-family: 'Jost', sans-serif;
        font-weight: 100;
        font-size: 100px;
        position: absolute;
        transform: rotate(-90deg);
        top: 286px;
        left: -100px;
    }
}

.system {
    font-family: 'Quicksand', sans-serif;
    grid-column: 1/3;
    font-size: clamp(16px, 3vw, 20px);
    color: rgb(175, 175, 175);
}

.system a{
    text-decoration: underline;
    color:  rgb(175, 175, 175);
}

.system-petit {
    font-family: 'Quicksand', sans-serif;
    grid-column: 1/3;
    font-size: 18px;
    color: rgb(175, 175, 175);
}

.ressources {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    grid-column: 1/3;
    font-size: clamp(20px, 4vw, 28px);
    color: rgb(0, 0, 0);
}
.ressources a{
    text-decoration:none;
    color: rgb(0, 0, 0);
}

.ressources a:hover {
    text-decoration: underline;
}

/* Galerie */

img {
    max-width: 100%;
    display: block;
    height: auto;
    border: 3px solid;
    border-color: rgb(230, 240, 255);
}

@media (max-width:760px) {
    img {
        margin-bottom: 20px;
    }
}

.main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

@media (min-width:760px) {
    .main {
        display: grid;
        grid-template-columns: 47% 47%;
        margin-left: 200px;
        margin-top: 20px;
        gap: 10px;
        max-width: 100%;
    }
}

/* pages 4 à 2 colonnes (poster et analyse de lieu) */
.quatre-colonnes {
    
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 10px;
}


@media (min-width:760px) {
    .quatre-colonnes {
        max-width: 100%;
        margin-left: 200px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}

.full-quatre {
    grid-column: 1/3;
}

@media (min-width:760px) {
.full-quatre {
    grid-column: 1/5;
}
}

/*PROJETS*/

/*posters*/
.recherches-poster {
    grid-column: 1/3;
}

@media (min-width:760px) {
    .recherches-poster {
        grid-column: 3/5;
    }
}

/*gehry*/

.full-screen {
    grid-column: 1/3
}

.div-image-fond {
    height: 250px;
}

@media (min-width:760px) {
    .div-image-fond {
        height: 400px;
        grid-column: 1/3;
    }
}

.image-fond {
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/projet-2-0.jpg);
}

.div-image-fond-b {
    height: 250px;
}

@media (min-width:760px) {
    .div-image-fond-b {
        height: 400px;
        grid-column: 1/3;
    }
}

.image-fond-b {
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/projet-2-00.jpg);
}


/*specimen*/

.div-image-parallax {
    height: 250px;
}

@media (min-width:760px){
    .div-image-parallax {
        height: 500px;
        grid-column: 1/3;
    }
}

.image-parallax {
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/projet-7-0.jpg);
}


/*du présent à l'histoire*/


.div-image-fond-photo {
    height: 200px;
}

@media (min-width:760px){
    .div-image-fond-photo {
        height: 400px;
        grid-column: 1/3;
    }
}    

.image-fond-photo {
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100%;
    background-image: url(img/projet-5-0.jpg);
}

/*écoute visuelle*/
.div-image-fond-feuilles {
    height: 150px;
}

@media (min-width:760px){
    .div-image-fond-feuilles {
        height: 300px;
        grid-column: 1/3;
    }
}

.image-fond-feuilles {
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/projet-4-00.jpg);
}