body {
    background: rgb(212, 212, 212);
}



.index {
    margin: 1,5%;
}

.index img {
    max-width: 100%;
    display: block;
    height: auto;
    border: 3px solid;
    border-color: rgb(255, 255, 255);
}

@media (min-width:660px) {
    .index {
        background: rgb(212, 212, 212);
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 10px;
    }
}




img {
    max-width: 100%;
    display: block;
    height: auto;
    border: 3px solid;
    border-color: rgb(255, 255, 255);
}



.sous-titre {
   display: block;
   position: absolute;
   transform: rotate(-90deg);
    font-family: 'Jost', sans-serif;
    margin-top: 35%;
    margin-left: -30%;
    font-size: 40px;
}

.large {
    grid-column: 1/3;
}

.projet-6 {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 2%;
}

.projet-6-1 {
    grid-column: 1/3;
}


.grille {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 10px;
}


/* zoom au survol */
.div-image {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: grid;
}

.image-zoom {
    transition: 0.4s;
}

.image-zoom:hover {
    transform: scale(0.95);
    opacity: 0.8;
    
}

/*PROJETS*/

.projet {
    background: #fff;
}

/* Header */

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 48px;
    padding: 20px;
    margin-bottom: 20px;
}

.header a {
    text-decoration: none;
    color: black;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 23px;
    right: 70px;
}

.portfolio {
    text-align: left;
}

.à-propos {
    text-align: right;
}

.header a:hover {
    margin-left: 24px;
    text-decoration: underline;

}

.header-titre {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: medium;
    font-size: 20px;
    left: 70px;
    letter-spacing: 0;
}


/* Body */


    .nom-projet {
        display: none;
    }

@media (min-width:760px) {
    .nom-projet {
        display: block;
        font-family: 'Jost', sans-serif;
        font-weight: 100;
        font-size: 100px;
        position: absolute;
        transform: rotate(-90deg);
        top: 286px;
        left: -100px;
    }
}

.system {
    font-family: 'Quicksand', sans-serif;
    grid-column: 1/3;
    font-size: clamp(12px, 7vw, 20px);
    color: rgb(175, 175, 175);
}

/* Galerie */
.main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    border: 3px solid;
    border-color: rgb(175, 175, 175);
}

@media (max-width:760px) {
    img {
        margin-bottom: 20px;
    }
}


@media (min-width:760px) {
    .main {
        display: grid;
        grid-template-columns: 47% 47%;
        margin-left: 200px;
        margin-top: 20px;
        gap: 10px;
        max-width: 100%;
    }
}
/* pages 4 à 2 colonnes */
.quatre-colonnes {
    background: rgb(255, 255, 255);
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 10px;
}


@media (min-width:760px) {
    .quatre-colonnes {
        background: rgb(255, 255, 255);
        max-width: 100%;
        margin-left: 200px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}
/*PROJETS*/

/*posters*/
.recherches-poster{
    grid-column: 1/3;
}
@media (min-width:760px) {
    .recherches-poster{
        grid-column: 3/5;
    }
}

/*gehry*/

.full-screen {
    grid-column : 1/3
}

.div-image-fond {
    height: 400px;
    grid-column: 1/3;
}

.image-fond {
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/projet-2-0.jpg);
}
.div-image-fond-b {
    height: 400px;
    grid-column: 1/3;
}

.image-fond-b {
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/projet-2-00.jpg);
}


/*specimen*/

.div-image-parallax {
    height: 500px;
    grid-column: 1/3;
}

.image-parallax {
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/projet-7-0.jpg);
}
